@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

details {
  margin-top: 20px;
  max-width: 500px;
  min-width: 500px;
}

details > summary {
  padding-bottom: 10px;
}

.transition {
  background: linear-gradient(blue, red);
  width: 100px;
  height: 100px;
  transition: .6s all;
}

.transition:hover {
  background: linear-gradient(red, blue);
  width: 200px;
  height: 200px;
}

