@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

html {
  font-size: 36px;
}

@media only screen and (max-width: 992px) {

  html {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  
  html {
    font-size: 18px;
  }
}

@media only screen and (max-width: 300px) {

  html {
    font-size: 12px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  flex-direction: column;


  width: 100%;
  height: 100vh;
  color: black;
}

@media only screen and (max-width: 768px) {

  html {
    font-size: 24px;
  }
}

/* h1 {
  font-size: 1.5rem; 
} */

.unit-h2-parent {
  font-size: 20px;
}

.unit-h2 {
  font-size: 2em;
}

h2 {
  font-size: 0.5in;
}